{% extends 'base.html' %}
{% block nav-contact %}
  class="active"
{% endblock %}
{% block body %}
  <div class="container">
    <h1>Contact Us</h1>
    <p class="lead">
      Ways to join and contact and stuff
    </p>

    <h2>Join us on OrgSync!</h2>
    <ol>
      <li>
        If you are not a current ARC member, or have not signed up for OrgSync click <a href="https://orgsync.com/register/university-of-new-south-wales">here</a> (Don't worry, it's free to join!)
      </li>
      <li>After you have created an OrgSync account, log in to OrgSync</li>
      <li>Click the search bar at the top of the page and type in "Game Development Society"</li>
      <li>Click on the "Game Development Society" organization when it appears in the search results</li>
      <li>Click the "Join Club" button the left hand side of the page, and wait for one of the Executive Members to approve your request! (We won't say no, promise!)</li>
    </ol>

    <h2>Join us on Facebook!</h2>
    <a href="https://www.facebook.com/groups/185233411589007/" target="_blank">
      <button class="btn-large btn-facebook"><i class="fa fa-facebook"></i> | Join us on Facebook!</button>   <p></p>
    </a>

    <h2>Shoot us an email!</h2>
    <p>You can contact us at <a href="mailto:gamedevsoc.unsw@gmail.com">gamedevsoc.unsw@gmail.com</a></p>

    <h2>Contact us through this form!</h2>
    <form>
      <input class="form-control" type="text" placeholder="Name (optional)">
      <input class="form-control" type="text" placeholder="Email (optional)">
      <textarea class="form-control" placeholder="Message body"></textarea>
    </form>
  </div>
{% endblock %}