{% extends 'base.html' %}
{% block nav-home %}
  class="active"
{% endblock %}
{% block body %}
  <div class="row home-content home-header">
    <div class="container">
      <h1>Game Development Society</h1>
      <p class="lead">
        We make games and stuff.
      </p>
    </div>
  </div>

  <div class="row home-content home-unity">
    <div class="container">
      <h1>Unity Workshops</h1>
      <p class="lead">
        Learn to make games in the awesome Unity3D engine
      </p>
    </div>
  </div>

  <div class="row home-content home-maya">
    <div class="container">
      <h1>Maya Workshops</h1>
      <p class="lead">
        Learn to make awesome models using Maya
      </p>
    </div>
  </div>

  <div class="row home-content home-lagnight">
    <div class="container">
      <h1>Game Development Society</h1>
      <p class="lead">
        Fun social night filled with games and stuff
      </p>
    </div>
  </div>
{% endblock %}